* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Comic Sans MS', Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #222222;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  background-color: #ffffff;
}
